name: "Test"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: cachix/install-nix-action@v22
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v12
      with:
        name: martyall
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: nix build

    - run: mkdir -p cppsrc/bin

    - name: Download artifact
      id: download-artifact
      uses: dawidd6/action-download-artifact@v3
      with:
        workflow: snarky.yml
        name: snarky
        path: cppsrc/bin/

    - run: ls -lah cppsrc/bin
    - run: chmod +x cppsrc/bin/snarky
    - run: ls -lah cppsrc/bin 
    - run: ./cppsrc/bin/snarky
    
    - run: nix develop --command cabal run tests
